html,
body,
#root,
#__next {
  height: 100%;
  margin: 0px;
}
#root > div {
  height: 100%;
  margin: 0;
}

body {
  margin-top: 40px;
  background-color: aliceblue;
}

#widget {
  margin-bottom: 20px;
}

/* Make the .container fade in. */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.card-title {
  margin-bottom: 0px;
}

.card-body {
  border-bottom: 1px solid var(--bs-border-color-translucent);
}

.table-centered {
  text-align: center;
  width: 100%;
  border-top: 1px solid var(--bs-border-color-translucent);
  margin-bottom: 0px;
}

.text-sm {
  font-size: small;
}

.hidden {
  display: none;
}

.panels {
  margin: 20px 0;
}

.panel-buttons {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-responsive {
  overflow-x: auto;
  table-layout: fixed;
  width: 100%;
  /* Make the font smaller when we are on the sm breakpoint */
}

.table-responsive thead {
  font-size: small;
}

@media (max-width: 576px) {
  .table-responsive {
    font-size: 0.6rem;
  }
  .table-responsive thead {
    display: none;
  }

  #fields {
    margin-bottom: 20px;
  }
}
