body {
  margin-top: 40px;
  background-color: aliceblue;
}

#widget {
  margin-bottom: 20px;
}

/* Make the .container fade in. */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
